*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.tar.bz2 filter=lfs diff=lfs merge=lfs -text
*.tar.xz filter=lfs diff=lfs merge=lfs -text
dist/gladys filter=lfs diff=lfs merge=lfs -text
dist/llama.cpp/llama-b9265-bin-macos-arm64.tar.gz filter=lfs diff=lfs merge=lfs -text
dist/llama.cpp/llama-b9265-bin-ubuntu-vulkan-arm64.tar.gz filter=lfs diff=lfs merge=lfs -text
dist/llama.cpp/llama-b9265-bin-ubuntu-vulkan-x64.tar.gz filter=lfs diff=lfs merge=lfs -text
dist/llama.cpp/llama-b9265-bin-win-vulkan-x64.zip filter=lfs diff=lfs merge=lfs -text
dist/models.tar.gz filter=lfs diff=lfs merge=lfs -text
dist/sherpaonnx/sherpa-onnx-streaming-zipformer-es-kroko-2025-08-06.tar.bz2 filter=lfs diff=lfs merge=lfs -text
