bin/*
bin/cuda/**/*
!bin/
!bin/cuda/
!bin/cuda/install.sh
!bin/icons

.cache/
moc/
build/

include/*

!include/miniaudio

include/sherpa-onnx/*

!include/sherpa-onnx/include

!include/sherpa-onnx/
!include/sherpa-onnx/build.sh
!include/sherpa-onnx/env.sh

include/sherpa-onnx/linux/*
!include/sherpa-onnx/linux
!include/sherpa-onnx/linux/arm
!include/sherpa-onnx/linux/x64
!include/sherpa-onnx/linux/arm/lib
!include/sherpa-onnx/linux/x64/lib

include/sherpa-onnx/win/*
!include/sherpa-onnx/win
!include/sherpa-onnx/win/arm
!include/sherpa-onnx/win/x64
!include/sherpa-onnx/win/arm/lib
!include/sherpa-onnx/win/x64/lib

include/sherpa-onnx/macos/*
!include/sherpa-onnx/macos
!include/sherpa-onnx/macos/arm
!include/sherpa-onnx/macos/x64
!include/sherpa-onnx/macos/arm/lib
!include/sherpa-onnx/macos/x64/lib
