bin/*
bin/cuda/**/*
!bin/
!bin/cuda/
!bin/cuda/install.sh
!bin/icons

.cache/
moc/

include/*
!include/miniaudio/
include/sherpa-onnx/*
!include/sherpa-onnx/
!include/sherpa-onnx/shared/
include/sherpa-onnx/shared/bin/
!include/sherpa-onnx/build.sh
!include/sherpa-onnx/env.sh

.opencode/fragments
build/
